<launch>
  <!-- arguments -->
  <arg name="model" default="$(find omnibot3_description)/robot/omnibot3.urdf.xacro"/>
  <arg name="gui" default="true"/>

  <!-- parameters -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(arg model)'"/>
  <param name="use_gui" value="$(arg gui)"/>

  <!-- nodes -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find omnibot3_description)/launch/config/omnibot3_description.rviz"/>
</launch>
