<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:macro name="wheel_trans" params="id_num">
    <transmission name="wheel${id_num}_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="wheel${id_num}_joint">
        <hardwareInterface>VelocityJointInterface</hardwareInterface>
      </joint>
      <actuator name="wheel${id_num}_motor">
        <hardwareInterface>VelocityJointInterface</hardwareInterface>
        <mechanicalReduction>30</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

</robot>
